<div id="page-content">
    <div class="container" id="jumbo">
        <div class="bg-light p-5 rounded-lg m-3 text-center" id="jum">
            <h1 class="display-4">Blog</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <%# <a class="btn btn-success btn-lg" href="#" role="button">Sign Up!</a> %>
            <%= link_to "Sign Up",  signup_path, class:"btn btn-success btn-lg"  %>
        </div>
    </div>
</div>
 

<footer id="sticky-footer" class="py-4 bg-dark text-white fixed-bottom">
    <div class="container text-center">
        <small>Copyright &copy; <%= link_to "Dania", "https://github.com/DaniaErnest/", class: "text-white"%></small>
    </div>
</footer>
<%# 
<h1>This is the homepage</h1>
<%# <%= link_to "ArticleListing", articles_path %>
<%# <%= link_to "About", about_path %>